@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Flex", sans-serif;
}

.box-tela{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eeee;
    padding: 20px;
}

.header-login-box{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-login-box > h1{
    transition: 0.3s ease-in-out;
}

.header-login-box > h1:hover{
    color: orangered;
}

.header-login-box > button{
    float: left;
    position: relative;
    left: 75%;
    background-color: transparent;
    border: none;
    transition: 0.3s ease-in-out;
}

.header-login-box > button:hover{
    color: orangered;
}


.box-login{
    max-width: 400px;
    max-height: 400px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.2);
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
}

.login-form{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap:20px;
    padding: 0 20px 20px 20px;
}

.input-label-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-label-box > input{
    padding: 10px; 
    border: solid 2px black;
    outline: none;
    transition: 0.3s ease-in-out;
}

.input-label-box > input:focus{
    border: solid 2px orangered;
    outline: none;
}


.options{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.register-password{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.register-password > a {
    text-decoration: none;
    color: black;
    transition: 0.3s ease-in-out;
}

.register-password > a:hover {
    color: orangered;
}

.button-enter{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-enter > button{
    width: 100%;
    background-color: orangered;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    padding: 15px;
}

.button-enter > button:disabled{
    opacity: 0.5;
    color: black;
    font-size: 1em;
}


